<!-- ======= Footer ======= -->
<footer id="footer">

    <!-- <div class="footer-newsletter">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-6">
            <h4>Join Our Newsletter</h4>
            <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>
          </div>
        </div>
      </div>
    </div> -->

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>3DLand<span>.</span></h3>
            <p>
              104,Mahatma street,<br>
              Shivaji park,<br>
              Kolhapur. <br><br>
              <strong>Phone:</strong> +91 96373 86600<br>
              <strong>Email:</strong> patilvaibhav6600@gmail.com<br>
            </p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a routerLink="/home">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a routerLink="/about">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a routerLink="/services">Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a routerLink="/services">Terms of service</a></li>
              <li><i class="bx bx-chevron-right"></i> <a routerLink="/contact">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a routerLink="/home">Web Design</a></li>
              <li><i class="bx bx-chevron-right"></i> <a routerLink="/home">Web Development</a></li>
              <li><i class="bx bx-chevron-right"></i> <a routerLink="/home">Product Management</a></li>
              <li><i class="bx bx-chevron-right"></i> <a routerLink="/home">Marketing</a></li>
              <li><i class="bx bx-chevron-right"></i> <a routerLink="/home">Graphic Design</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Social Networks</h4>
            <p></p>
            <div class="social-links mt-3">
              <a routerLink="/home" class="twitter"><i class="bx bxl-twitter"></i></a>
              <a routerLink="/home" class="facebook"><i class="bx bxl-facebook"></i></a>
              <a href="https://www.instagram.com/vaibhav_patil_6600/" class="instagram" target="_blank"><i class="bx bxl-instagram"></i></a>
              <a routerLink="/home" class="google-plus"><i class="bx bxl-skype"></i></a>
              <a routerLink="/home" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="container py-4">
      <div class="copyright">
        &copy; Copyright <strong><span>3DLand</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/bizland-bootstrap-business-template/ -->
        Designed by <a href="https://www.instagram.com/vaibhav_patil_6600/">Vaibhav Patil</a>
      </div>
    </div>
  </footer><!-- End Footer -->
