<!-- ======= Contact Section ======= -->
<section id="contact" class="contact">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Contact</h2>
        <h3><span>Contact Us</span></h3>
        <p> We specialize in complete modular kitchens, stunning wardrobe designs, timeless TV unit designs, and space-saving furniture among other. </p>
      </div>

      <div class="row" data-aos="fade-up" data-aos-delay="100">
        <div class="col-lg-6">
          <div class="info-box mb-4">
            <i class="bx bx-map"></i>
            <h3>Our Address</h3>
            <p>104,Mahatma street,Shivaji park,Kolhapur.</p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6">
          <div class="info-box  mb-4">
            <i class="bx bx-envelope"></i>
            <h3>Email Us</h3>
            <p>patilvaibhav6600@gmail.com</p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6">
          <div class="info-box  mb-4">
            <i class="bx bx-phone-call"></i>
            <h3>Call Us</h3>
            <p>+91 96373 86600</p>
          </div>
        </div>

      </div>

      <div class="row" data-aos="fade-up" data-aos-delay="100">

        <div class="col-lg-6 ">
          <iframe class="mb-4 mb-lg-0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7642.936013791132!2d74.24430202148646!3d16.703484353967195!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc10047200cbf2f%3A0xb37a5fb13d69ee12!2sShivaji%20Park%2C%20Kolhapur%2C%20Maharashtra!5e0!3m2!1sen!2sin!4v1679133535051!5m2!1sen!2sin" frameborder="0" style="border:0; width: 100%; height: 384px;" allowfullscreen></iframe>
        </div>

        <div class="col-lg-6">
          <form action="forms/contact.php" method="post" role="form" class="php-email-form">
            <div class="row">
              <div class="col form-group">
                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
              </div>
              <div class="col form-group">
                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
              </div>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
            </div>
            <div class="form-group">
              <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
            </div>
            <div class="my-3">
              <div class="loading">Loading</div>
              <div class="error-message"></div>
              <div class="sent-message">Your message has been sent. Thank you!</div>
            </div>
            <div class="text-center"><button type="submit">Send Message</button></div>
          </form>
        </div>

      </div>

    </div>
  </section><!-- End Contact Section -->



<!-- ======= Frequently Asked Questions Section ======= -->
<section id="faq" class="faq section-bg">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>F.A.Q</h2>
        <h3>Frequently Asked <span>Questions</span></h3>
        <p> Think we are the right fit for your journey to your new home? Get a free estimate or a book a free consultation with our interior design team for beautiful home interiors.</p>
      </div>

      <div class="row justify-content-center">
        <div class="col-xl-10">
          <ul class="faq-list">

            <li>
              <div data-bs-toggle="collapse" class="collapsed question" href="#faq1">What Is Home Interior Design? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
              <div id="faq1" class="collapse" data-bs-parent=".faq-list">
                <p>
                  Interior design is the art and science of enhancing the interior of a building to achieve a healthier and more aesthetically pleasing environment for the people using the space. It involves selecting colours, furniture, and other decorative elements to create a cohesive and visually appealing look that is influenced by personal style, the size and layout of the space, and the desired level of comfort and functionality. Home interior design also involves creating functional areas for different activities, such as cooking, eating, sleeping, and entertaining, and may include the use of home interior colour to add visual interest and depth to the space. Some people choose to work with a professional interior designer to help them create the perfect home interior design, while others prefer to handle the process themselves.
                </p>
              </div>
            </li>

            <li>
              <div data-bs-toggle="collapse" href="#faq2" class="collapsed question">Why Is an Interior Designer Important? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
              <div id="faq2" class="collapse" data-bs-parent=".faq-list">
                <p>
                  Interior designers are trained professionals who can help you create functional and aesthetically pleasing spaces in your home. They have the expertise and experience to assist with home interior design, including choosing the best colours and decor, and can save  you time and effort by handling the entire design process from start to finish. Interior designers can also help with budget management by suggesting cost-effective solutions and prioritizing spending. They have the skills to overcome design challenges and pay attention to every detail to ensure that the final result is cohesive and visually appealing. Whether you are looking for a simple design for a small home or a more elaborate home interior decoration, an interior designer can help bring your vision to life and create a space that reflects your personal style and meets your needs.
                </p>
              </div>
            </li>

            <li>
              <div data-bs-toggle="collapse" href="#faq3" class="collapsed question">What Are the Most Important Factors to Keep In Mind While Designing a Room? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
              <div id="faq3" class="collapse" data-bs-parent=".faq-list">
                <p>
                  When designing a home, there are several important factors to consider, including functionality, layout, size and scale, light, home interior colour, texture, and personal style. These elements can help you create a space that is functional, aesthetically pleasing, and reflects your personal tastes.
                </p>
                <p>
                  To ensure that your room is functional and meets the needs of those using it, consider the primary purpose of the space. For example, a kitchen should be designed with cooking in mind, while a bedroom should be a peaceful and restful space. The layout of the room should also be functional and flow well, taking into account the placement of furniture and traffic patterns within the space.
                </p>
                <p>
                  Size and scale are important considerations when designing a room, as the size and scale of the room and its furniture and decorative elements should be in proportion to one another. Good lighting is essential for both function and aesthetics, so consider the natural light sources in the room and how you can enhance them with artificial lighting.
                </p>
                <p>
                  Colour, in home interiors, is a powerful design element that can have a big impact on the look and feel of a room. Consider the colour of the walls and the colours of any furniture and decorative elements when designing a space. Texture can also add depth and interest to a room, so consider the texture of the walls, floors, and furniture when designing a space.
                </p>
                <p>
                  Finally, it's important to incorporate your personal style into the design of a room to make it feel like home. Consider what styles and elements reflect your personal taste and incorporate them into the design, whether you prefer a simple home interior design or a more elaborate home interior decoration. When it comes to finding the best home interior design for your needs, working with an interior designer can be helpful, as they have the expertise and experience to assist with the process of interior design for your home.
                </p>
              </div>
            </li>

            <li>
              <div data-bs-toggle="collapse" href="#faq4" class="collapsed question">Which Cities Is HomeLane Operational In? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
              <div id="faq4" class="collapse" data-bs-parent=".faq-list">
                <p>
                  HomeLane is present in over 24 cities with 50+ studios.
                </p>
                <p>
                  Currently, we have a presence in Bangalore, Hyderabad, Chennai, Mumbai, Pune, Delhi-NCR, Kolkata, Ranchi, Kochi, Mysore, Mangalore, Surat, Vijayawada, Jaipur, Trichy, Tirupur, and Nagpur.
                </p>
              </div>
            </li>

            <!-- <li>
              <div data-bs-toggle="collapse" href="#faq5" class="collapsed question">Tempus quam pellentesque nec nam aliquam sem et tortor consequat? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
              <div id="faq5" class="collapse" data-bs-parent=".faq-list">
                <p>
                  Molestie a iaculis at erat pellentesque adipiscing commodo. Dignissim suspendisse in est ante in. Nunc vel risus commodo viverra maecenas accumsan. Sit amet nisl suscipit adipiscing bibendum est. Purus gravida quis blandit turpis cursus in
                </p>
              </div>
            </li>

            <li>
              <div data-bs-toggle="collapse" href="#faq6" class="collapsed question">Tortor vitae purus faucibus ornare. Varius vel pharetra vel turpis nunc eget lorem dolor? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
              <div id="faq6" class="collapse" data-bs-parent=".faq-list">
                <p>
                  Laoreet sit amet cursus sit amet dictum sit amet justo. Mauris vitae ultricies leo integer malesuada nunc vel. Tincidunt eget nullam non nisi est sit amet. Turpis nunc eget lorem dolor sed. Ut venenatis tellus in metus vulputate eu scelerisque. Pellentesque diam volutpat commodo sed egestas egestas fringilla phasellus faucibus. Nibh tellus molestie nunc non blandit massa enim nec.
                </p>
              </div>
            </li> -->

          </ul>
        </div>
      </div>

    </div>
  </section><!-- End Frequently Asked Questions Section -->
